@import url(__img/element__img.css);
@import url(__content/element__content.css);
@import url(__title/element__title.css);
@import url(__like/element__like.css);

.element {
    width: 282px;
    height: 361px;
    background: white;
    border-radius: 10px;
}
